@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-center {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 2rem;
    align-self: stretch;

}

.submenu {
    display: block;
    position: fixed;
    top: 4rem;
    left: 50%;
    width: 630px;
    max-width: 100%;
    background: whitesmoke;
    padding: 3rem;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top;
    perspective: 1000px;
    border-radius: var(--borderRadius);
    /* opacity: 0; */
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    /* z-index: -1; */
    border-radius: 10px;
}
.show-submenu {
   
    opacity: 1;
    transform: rotateX(0deg) translateX(-50%);
    z-index: 200;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-self: stretch;
    align-items: center;
  }
  .nav-center {
    align-self: stretch;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .nav-link {
    padding: 0 1rem;
    color: var(--white);
    background: transparent;
    border-color: transparent;
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    cursor: pointer;
  }
